@tailwind base;
@tailwind components;
@tailwind utilities;

/* .answer.active {
  background: #f59e0b;
} */

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: #397ef0;
  }
  20%,
  40%,
  60% {
    background: #09b3d6;
  }
  62%,
  100% {
    background: #4ed433;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: #397ef0;
  }
  20%,
  40%,
  60% {
    background: #09b3d6;
  }
  62%,
  100% {
    background: #fb3c3c;
  }
}
